.w3-theme-light {color:#000 !important; background-color:#f0f0f0 !important}
.w3-theme-dark {color:#fff !important; background-color:#040404 !important}
.w3-theme-action {color:#fff !important; background-color:#040404 !important}

.w3-theme {color:#fff !important; background-color:#080808 !important}
.w3-theme2 {color:#fff !important; background-color:#151515 !important}
.w3-text-theme {color:#080808 !important}
.w3-border-theme {border-color:#080808 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#080808 !important}
.w3-hover-text-theme:hover {color:#080808 !important}
.w3-hover-border-theme:hover {border-color:#080808 !important}

* {box-sizing: border-box;}


/* CSS for comparing images */

.img-comp-container {
  position: relative;
  height: 400px; /* should be the same height as the images */
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.backglow {
	box-shadow: 0px 0px 40px 20px #151515;
}

.img-comp-container:hover .backglow {
	box-shadow: 0px 0px 40px 10px #262624;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /* set the appearance of the slider: */
  width: 40px;
  height: 200px;
  background-color: #080808;
  opacity: 0;
  border-radius: 50%;
}


/* CSS for portfolio */

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  /* background-color: #151515; */
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 2600px) { /* 4 × width + 200px */
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1300px) { /* 2 × width + 100px */
  .column {
    width: 100%;
  }
}
