.w3-theme-light {
  color: #000 !important;
  background-color: #f0f0f0 !important;
}

.w3-theme-dark {
  color: #fff !important;
  background-color: #040404 !important;
}

.w3-theme-action {
  color: #fff !important;
  background-color: #040404 !important;
}

.w3-theme {
  color: #fff !important;
  background-color: #080808 !important;
}

.w3-theme2 {
  color: #fff !important;
  background-color: #151515 !important;
}

.w3-text-theme {
  color: #080808 !important;
}

.w3-border-theme {
  border-color: #080808 !important;
}

.w3-hover-theme:hover {
  color: #fff !important;
  background-color: #080808 !important;
}

.w3-hover-text-theme:hover {
  color: #080808 !important;
}

.w3-hover-border-theme:hover {
  border-color: #080808 !important;
}

* {
  box-sizing: border-box;
}

.serifText {
  font-family: Garamond, Georgia, "Times New Roman", Times, serif;
  letter-spacing: 6px; 
}

.textFormat {
  font-family: "Trebuchet MS", TaHoma, Verdana, Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-align: justify;
}

.importantBlock {
  color: #ddd;
  text-align: justify;
  width: 80%
}

/* CSS for auto-slide */

.slidePresent_container {
  position: relative;
  /* width: 450px; */
  width: max;
  /* font-size: width; */
}

.slidePresent_backImage {
  display: block;
  width: 100%;
  height: auto;
  transition: 5s ease;
  box-shadow: 0px 0px 60px -10px #fff1;
}

.slidePresent_overlayRight {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.slidePresent_overlayLeft {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.slidePresent_container:hover .slidePresent_overlayRight {
  width: 100%;
  left: 0;
}

.slidePresent_container:hover .slidePresent_overlayLeft {
  width: 100%;
  left: 0;
}

.slidePresent_container:hover .slidePresent_backImage {
  box-shadow: 0px 0px 60px -10px #9ff6;
}

.slidePresent_text {
  color: white;
  /* font-family: Georgia, "Times New Roman", Times, serif; */
  /* font-family: Verdana, sans-serif; */
  font-family: Garamond, Georgia, "Times New Roman", Times, serif;
  letter-spacing: 4px; 
  font-size: 30px;
  /* font-size: 2em; */
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.slidePresent_slideImage {
  position: absolute;
  width: auto;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

/* CSS for portfolio */

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row>.column {
  /* Half the padding between each content box */
  padding: 60px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  /* background-color: #151515; */
  /* Padding around the whole content */
  padding: 10px;
  position: relative;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1800px) {

  /* 4 × width + 200px */
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {

  /* 2 × width + 100px */
  .column {
    width: 100%;
  }
}

.portfolioLink {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

a:link {
  text-decoration: none;
}

.socialButton {
  width: 50px;
  height: 50px;
  max-width: fit-content;
  text-align: left;
  cursor: pointer;
  border: 0px;
  background-color: #0000;
  transition: width 0.7s ease-in-out 0.2s;
}

.socialButton:hover {
  width: 300px;
  max-width: fit-content;
  transition: width 1.5s ease-in-out 0.1s;
}

.socialIcon {
  height: 50px;
  vertical-align: middle;
  text-align: left;
}

.socialButton .socialButtonText {
  opacity: 0;
  transition: opacity 0.2s ease-out 0s;
  position: relative;
  width: 100%;
  left: 0;
}

.socialButton:hover .socialButtonText {
  opacity: 1;
  transition: opacity 0.5s ease-in 1.2s;
}

.H_socialButtonText {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0px;
  text-align: left;
  color: #272727;
}

/* parallax "viewport" */
.parallax {
  overflow: hidden;
  object-fit: cover;
  object-position: 0 0%;
}

#frontParallax {
  height: 100vh;
  width: 100%;
}

#lightParallax {
  height: 300px;
  width: 500px;
}

.linkedin {
  background-color: #fff;
  position: relative;
  width: fit-content;
  height: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  border-radius: 10px;
}

.linkedin > * {
  margin: 2.5px;
  vertical-align: top;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: #fff7;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

.card-article {
  background-color: #fff7;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;

  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 70.7%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) --- 16:9 = 56.25%, 4:3 = 75%, 3:2 = 66.66%, 8:5 = 62.5%, 1:1 = 100%, A4 1.414:1 = 70.7%*/
}

.active-article {
  background-color: #fff;
  box-shadow: 5px 5px 10px 0px #0007;
  border-radius: 5px;
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  width: 110%;
  height: 110%;
  zoom: 1;
  -webkit-transform: scale(0.875);
  -webkit-transform-origin: 0 0;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

