.w3-theme-PJ {
    color: #000 !important;
    background-color: #6a968e !important;
}

.w3-button-PJ {
    color: #fff !important;
    border-radius: 5px;
    transition: 
        color 1s ease,
        background-color 2s ease,
        filter 10s ease-in;
}

.w3-button-PJ:hover {
    color: #000 !important;
    background-color: #42FEDD;
    filter: drop-shadow( 0px 0px 10px #0003) hue-rotate(-92deg) grayscale(0);
}

.PJ_text {
    /* Uppdatera */
    font-family: "Prosto One", TaHoma, Verdana, Arial, sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: left;
    color: #fff;
    filter: drop-shadow( 0px 2px 2px #0007)
}

.PJ_socialButtonText {
    font-family: Garamond, Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 2px;
    text-align: left;
    color: #fff;
}