.w3-theme-PCA {
    color: #000 !important;
    background-color: #fff !important;
}

.w3-button-PCA {
    color: #000 !important;
    border-radius: 0px;
    transition: .1s ease;
}

.w3-button-PCA:hover {
    color: #191319 !important;
    background-color: #FBD0A8 !important;
    filter: drop-shadow( 0px 0px 10px #0002)
}

.w3-button-PCAalt {
    color: #000 !important;
    border-radius: 0px;
    transition: .1s ease;
}

.w3-button-PCAalt:hover {
    color: #191319 !important;
    background-color: #ABFDFE !important;
    filter: drop-shadow( 0px 0px 10px #0002)
}

.w3-button-PCAalt2 {
    color: #000 !important;
    border-radius: 0px;
    transition: .1s ease;
}

.w3-button-PCAalt2:hover {
    color: #191319 !important;
    background-color: #AEFFCC !important;
    filter: drop-shadow( 0px 0px 10px #0002)
}

.PCA_text {
    /* Uppdatera */
    font-family: "Prosto One", TaHoma, Verdana, Arial, sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: left;
    color: #fff;
    filter: drop-shadow( 0px 2px 2px #0007)
}